<!-- build:js assets/vendor/js/core.js -->
<script src="/adminAssets/vendor/libs/jquery/jquery.js"></script>
<script src="/adminAssets/vendor/libs/popper/popper.js"></script>
<script src="/adminAssets/vendor/js/bootstrap.js"></script>
<script src="/adminAssets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/adminAssets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/adminAssets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="/adminAssets/js/main.js"></script>

<!-- Page JS -->
<script src="/adminAssets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>


<script>
    document.getElementById("delete-link").addEventListener("click", function (event) {
        event.preventDefault(); // prevent the link from redirecting immediately
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this user!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    // If user clicks the confirm button, redirect to the delete route
                    window.location.href = document.getElementById("delete-link").href;
                } else {
                    // If user clicks the cancel button, do nothing
                }
            });
    });

    $(document).ready(function () {
        $('#productTable').DataTable();
    });
</script>
<!-- <script>
    function block(id) {
        document.getElementById(id).addEventListener("click", function (event) {
            event.preventDefault(); // prevent the link from redirecting immediately
            swal({
                title: "Are you sure?",
                text: "Do you want to Block this User!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        // If user clicks the confirm button, redirect to the delete route
                        window.location.href = document.getElementById("Block-link").href;
                    } else {
                        // If user clicks the cancel button, do nothing
                    }
                });
        });
    }

</script> -->



</body>

</html>